#cart-section-1 .cart-section-1_wrapper .just-info {
  margin-top: 80px;
  margin-bottom: 80px;
}
#cart-section-1 .cart-section-1_wrapper .just-info p {
  color: rgba(0, 0, 0, 0.3215686275);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#cart-section-1 .cart-section-1_wrapper .just-info p a {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11 {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-bottom: 80px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-1 {
  justify-content: space-between;
  display: flex;
  gap: 284px;
  padding: 24px 39px 24px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--Primary, #FFF);
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-1 h2 {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-2 {
  padding: 24px 39px 24px 40px;
  display: flex;
  gap: 177px;
  align-items: center;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-2 input {
  display: flex;
  outline: none;
  margin-left: 110px;
  margin-right: 130px;
  width: 72px;
  height: 44px;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-2 h2 {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-2 .flexbox-3 {
  display: flex;
  align-items: center;
  gap: 20px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-2 .flexbox-3 h2 {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-3 {
  padding: 24px 39px 24px 40px;
  display: flex;
  gap: 177px;
  align-items: center;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-3 input {
  display: flex;
  outline: none;
  margin-left: 110px;
  margin-right: 130px;
  width: 72px;
  height: 44px;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-3 h2 {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-3 .flexbox-3 {
  display: flex;
  align-items: center;
  gap: 20px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-3 .flexbox-3 h2 {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-4 {
  padding: 24px 39px 24px 40px;
  display: flex;
  justify-content: space-between;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-4 button {
  margin-left: -40px;
  margin-right: -40px;
  margin-top: -20px;
  outline: none;
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-11-mix-4 button:hover {
  background-color: #fff;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-12 {
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-12-mix-3 {
  display: flex;
  justify-content: space-between;
  gap: 173px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-12-mix-3 .promocode {
  display: flex;
  gap: 16px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-12-mix-3 .promocode input {
  width: 300px;
  height: 56px;
  display: flex;
  padding: 16px 164px 16px 24px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #000;
  outline: none;
  color: var(--Text2, #000);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-12-mix-3 .promocode button {
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Button2, #DB4444);
  width: 211px;
  height: 56px;
  color: var(--Text, #FAFAFA);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: none;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-12-mix-3 .promocode button:hover {
  background: var(--Button2, rgba(219, 68, 68, 0.9137254902));
}
#cart-section-1 .cart-section-1_wrapper-flexbox-12-mix-3 .card-23 {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
  width: 470px;
  height: 324px;
  border-radius: 4px;
  border: 1.5px solid #000;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-12-mix-3 .card-23 h3 {
  color: var(--Text2, #000);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-12-mix-3 .card-23 .shipping {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-12-mix-3 .card-23 .shipping p {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--Text2, #000);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-12-mix-3 .card-23 div {
  display: flex;
  justify-content: space-between;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-12-mix-3 .card-23 div p {
  color: var(--Text2, #000);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
#cart-section-1 .cart-section-1_wrapper-flexbox-12-mix-3 .card-23 div button {
  margin-top: -5px;
  margin-left: 65px;
  display: inline-flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Button2, #DB4444);
  outline: none;
  border: none;
  color: var(--Text, #FAFAFA);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}/*# sourceMappingURL=six-page.css.map */