header {
    background-color: #fff;
    width: 100%;
        position: sticky;
        top:0px;
        z-index: 2;
        border-bottom:1px solid rgba(0, 0, 0, 0.204);

    // example

    .nav-top {
        padding: 12px 136px 12px 635px;
        display: flex;
        gap: 231px;
        align-items: center;
        color: white;
        background: #000;
        text-align: center;

        p {
            margin-left: 35px;
            color: #FAFAFA;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;

            span a {
                color: #FAFAFA;
                text-align: center;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                text-decoration-line: underline;
            }
        }

        select {
            margin-left:15px;
            background: transparent;
            border: none;
            outline: none;
            color: #FAFAFA;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;

            option {
                outline: none;
                background-color: #000;
            }
        }
    }

    .nav {
        padding-top: 40px;
        padding-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 a {
            cursor: pointer;
            color: #000;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.72px;
        }

        &__list {
            display: flex;
            gap: 48px;
            list-style-type: none;

            &--item {
                text-transform: capitalize;

                &-link {
                    text-decoration: none;
                    padding-bottom: 2px;
                    color: #000;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;

                    &:hover {
                        border-bottom: 1px solid black;
                    }
                }
            }
        }

        &__list-2 {
            list-style-type: none;
            display: flex;
            gap: 10px;

            &--item-2 {
                display: flex;
                &-input {
                    margin-right: -20px;
                    width: 243px;
                    height: 38px;
                    padding: 7px 12px 7px 20px;
                    border-radius: 4px;
                    background: #F5F5F5;
                    border: none;
                    outline: none;
                    color: #000;
                    font-family: Poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 18px;
                    opacity: 0.7;
                }

                .search-icon{
                    position: relative;
                    right:10px;
                }

                &-link-2 {
                    display: flex;

                    &-user:hover{
                        .manage-account{
                            display: flex;
                        }
                    }
                }
            }
        }

    .manage-account {
        z-index: 5;
        gap: 14.5px;
        flex-direction: column;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.543);
        backdrop-filter: blur(75px);
        padding-top: 18px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 12px;
        list-style-type: none;
        position: absolute;
        top: 130px;
        right:380px;
        display: flex;
        display: none;

        li{
            display: flex;
            align-items: center;
            gap: 14px;



            h3 {
                a{
                    color: #FAFAFA;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 21px;
                }
            }
        }

    }

}

.nav__list-2--item-2:hover{
        .manage-account{
            display: flex;
        }
}
}
