#section-3 {
    .section-3__wrapper {
        margin-top: 80px;
        margin-bottom: 70px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.167);

        .flexbox-4 {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            h3 {
                color: #DB4444;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                margin-left: 16px;
            }
        }

        .flexbox-5 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;

            h2 {
                color: #000;
                font-family: Inter;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 48px;
                letter-spacing: 1.44px;
            }

            .flexbox__5 {
                display: flex;
                gap: 8px;
            }
        }

        .flexbox-6 {
            display: flex;
            gap: 30px;
            margin-bottom: 70px;

            .category-card {
                display: flex;
                align-items: center;
                width: 170px;
                height: 145px;
                padding: 25px 56px 24px 55px;
                flex-direction: column;
                justify-content: center;
                gap: 16px;
                border-radius: 4px;
                border: 1px solid rgba(0, 0, 0, 0.30);

                h3 {
                    color: #000;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }

                &:hover{
                    transition: all 0.3s ease;
                 background: #DB4444;
                box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);

                svg{
                    path{
                        stroke:white;
                    }

                    line{
                        stroke: white;
                    }

                }

                h3{
                    color:#FAFAFA;
                }       
                }
            }
        }
    }
}